/* Base styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    padding: 0 10px;
    max-width: 800px;
    font-size: 20px;
    margin: 0 0;
    transition: background-color 0.3s, color 0.3s;
    background-color: #ffffff;
    color: #333333;
}

h1 {
    color: #333333;
    margin: 0.6em 0;
}

a { color: #369; text-decoration: none;}

p {
    margin: 0.6em 0;
}

.next-chapter {
    margin-top: 20px;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #222222;
    color: #ccc;
}

body.dark-mode h1 {
    color: #ccc;
}

body.dark-mode a {
    color: #6af;
}


/* Toggle button styles */
#mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

body.dark-mode #mode-toggle {
    background-color: #333333;
    color: #f0f0f0;
}

/* Font size adjustment for mobile */
@media (max-width: 768px) {
    body {
        font-size: 20px;
    }
}


.last-viewed {
    background-color: yellow;
    font-weight: bold;
}

#last-viewed-time {
    font-style: italic;
    color: #666;
}